@import "../static/fonts/meteoicons/stylesheet";

$color_highlight_bg: #F5F5F5;
$color_control_border: #CCCCCC;
$color_control_bg: white;
$color_control_disabled_border: #E6E6E6;
$color_control_disabled: #D0D0D0;
$color_temp_cold: #0075CE;
$color_temp_warm: #D00000;
$color_error: red;
$color_option_highlight_bg: #ededed;
$color_option_empty: $color_control_disabled;
$color_arrow_bg: #D4D4D4;


html {
    font-size: 12pt;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Root layout elements  */
.l-body {
    width: 100%;
    height: 100%;
}

.l-root {
    height: 100%;
    width: 100%;
    display: table;
}

.l-row {
    display: table-row;
}

.l-cell {
    display: table-cell;
    vertical-align: middle;
}

.l-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.l-cell.l-header {
    vertical-align: middle;
    height: 65px;
}

.l-cell.l-footer {
    vertical-align: middle;
    height: 50px;
}

/* Some global styles */

button {
    border: 1px solid $color_control_border;
    background: $color_control_bg;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: black;
}

button:disabled {
    color: $color_control_disabled;
    border: 1px solid $color_control_disabled_border;
    background: white;
}

button:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.27);
    color: black;
    outline: none;
}

i.icon {
    font-size: 1rem
}

.meteoicon {
    font-family: "MeteoconsRegular", serif;
    font-style: normal;
}

.fa-spinner {
    animation: spin 1000ms infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

/** Components **/


.display-settings {
}

.new-city {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__form {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    }

    &__item--empty {
        padding: 0;
        width: 0px;
    }

    &__loader {
        position: relative;

        > * {
            position: absolute;
            left: 0;
            margin-top: -8px;
        }
    }

    @at-root .error {
        color: $color_error;
        margin: 0.25rem;
        font-weight: bold;
    }

    /* customize dynamic-select */
    .dynamic-select {
        &__input {
            min-width: 250px;
        }
    }
}


.city-list {

    display: flex;
    flex-direction: column;
    justify-content: center;

    @at-root .city {
        $this: #{&};

        display: flex;

        &__icon {
            display: flex;
            align-items: center;
            vertical-align: middle;
            font-size: 2rem;
            img {
                width: 100%;
                vertical-align: bottom;
            }
            flex-shrink: 0;
        }

        &__name {
            display: flex;
            align-items: center;

            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1.9rem;
        }

        &__temp {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            flex-shrink: 0;
        }

        &__temp--cold {
            color: $color_temp_cold;
        }

        &__temp--warm {
            color: $color_temp_warm;
        }

        &__controls {
            display: flex;
            flex-shrink: 0;
            opacity: 0;
        }

        &:hover {
            #{$this}__controls {
                opacity: 1;
            }
        }

        &__controls:hover {
            opacity: 1;
        }

        &.city--full {
            flex-direction: column;
            margin-bottom: 0;

            #{$this}__icon, #{$this}__temp {
                min-width: 50px;
                justify-content: center;
                padding-right: 1rem;
            }

            #{$this}__details, #{$this}__temp {
                padding-top: 0.5rem;
            }

            #{$this}____name {
                justify-content: center;
            }


            #{$this}__main-info {
                display: flex;
                flex-direction: row;
            }

            #{$this}__details-row {
                display: flex;
                flex-direction: row;
            }

            #{$this}__details {
            }

            #{$this}__aux-param {
                margin-right: 1.5rem;
                font-weight: bold;
                font-size: 0.8rem;
            }

            #{$this}__last-update {
                font-size: 0.6rem;
                font-style: italic;
                margin-top: 0.25rem;
            }

            #{$this}__controls {
                justify-content: flex-end;
                align-items: center;
            }

        }

        &.city--short {
            $font-weight: 2rem;

            padding: 1rem 0;

            #{$this}__name {
                display: flex;
                align-items: center;
                font-size: $font-weight;
                flex-grow: 1;
                padding: 0 2rem;
            }

            #{$this}__icon {
                display: flex;
                align-items: center;
                font-size: 3rem;
            }

            #{$this}__temp {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: $font-weight;
                padding: 0 0.25rem;
            }


            #{$this}__controls-parent {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 1px;
                position: relative;
                vertical-align: middle;
            }

            #{$this}__controls {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
                top: 0;
                width: 1px;
            }

            #{$this}__remove-button {
                padding: 0 0.75rem;
                text-align: center;
            }

            #{$this}__up-down-buttons {
                padding: 0;
                text-align: center;
                display: none;
            }
        }
    }

    &__empty {
        color: #D0D0D0;
        font-style: italic;
        text-align: center;
    }
}

.initializing-msg {
    font-weight: bold;
    text-align: center;
}


.dynamic-select {
    $this: #{&};

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;

    &__pseudo-input {
        border: 1px solid $color_control_border;
        border-radius: 5px;
        display: flex;
        align-items: stretch;
    }

    &__input {
        flex-grow: 1;
        display: flex;
        padding: 0.5rem 0;
        border-radius: 5px;
        border-width: 0;
        outline: none;
        font-size: 1rem;
        margin: 0;
        -webkit-appearance: none;

        &::-ms-clear {
            display: none;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        padding: 0 0.25rem;
        > .fa {
            color: $color_arrow_bg;
            font-size: 1rem;
            min-width: 1rem;
        }
    }


    &__option-list {
        display: none;
        position: absolute;
        left: 0;
        background: $color_control_bg;
        width: 100%;
        z-index: 1;
    }

    &__option {
        border: 1px solid $color_control_border;
        border-top-style: none;
        padding: 0.5rem;
        font-size: 1rem;
    }

    &__option--highlighted {
        background: $color_option_highlight_bg;
    }

    &__option:last-child {
        border-radius: 0 0 5px 5px;
    }

    &__option--nothing-found {
        color: $color_option_empty;
    }

    &--focused {
        #{$this}__pseudo-input {
            border-radius: 5px 5px 0 0;
        }

        #{$this}__option-list {
            display: block;
        }
    }



    .fa-spinner {
        animation: spin 1000ms infinite linear;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(359deg);
        }
    }
}


.dragable-item {
    $this: #{&};

    display: flex;
    background: white;
    padding: 10px;
    border-width: 5px;
    border-style: dotted;
    border-color: transparent;

    &__holder {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: move;
        opacity: 0;
        padding: 0 1.5rem 0 0.5rem;
    }
    &__body {
        display: flex;
        flex-grow: 1;
        align-items: stretch;
        flex-direction: column;
    }

    &--dragging {
        cursor: move;
        box-sizing: border-box;
        border-radius: 10px;
        border-color: rgb(255, 216, 0);
    }

    &:hover, &--dragging  {
        #{$this}__holder {
            opacity: 1;
        }
    }

}



.arrow-up, .arrow-down {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5rem 0 0;
    border-color: $color_arrow_bg;
    border-width: 6px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-left-style: solid;
    border-right-style: solid;
}

.arrow-up {
    border-bottom-style: solid;
}

.arrow-down {
    border-top-style: solid;
}

