@import "../../node_modules/react-select/scss/default.scss";
html {
    font-size: 12pt;
    font-family: 'PT Sans', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.new-city {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    form, form > label {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Select {
        min-width: 200px;
    }

    form > *, form label > * {
        margin: 0.25rem;
    }

    .error {
        color: red;
        margin: 0.25rem;
    }
}

.city-list {
    .city {
        margin-bottom: 2rem;
        &__icon {
            padding: 0;
            vertical-align: middle;
            text-align: center;
            img {
                width: 75%;
                vertical-align: bottom;
            }
        }
        &__name {
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 1rem;
        }
        &__temp {
            font-size: 1.5rem;
            vertical-align: top;
            text-align: center;
        }
        &__details {
            padding-left: 1rem;
        }
    }
}

/* .city-list {
    .city {
        margin: 1.5rem 0.5rem;

        &__description {
            &__name {
                font-size: 1.2rem;
            }
            &__temp {
                font-weight: bold;
                font-size: 1.2rem;
            }
            &__last-update {
                font-size: 0.65rem;
            }
        }
    }
} */
