@media only screen and (max-width: 520px) {

    .l-cell {
        padding: 5px;
    }

    i.icon {
        font-size: 1.25rem;
    }

    .fa {
        font-size: 1.25rem;
    }

    .new-city {
        &__form {
            justify-content: space-between;
        }

        &__item {
            align-items: stretch;
        }


        &__item:nth-child(1) {
            display: none;
        }

        &__item:nth-child(2) {
            flex-grow: 1;
        }

        &__item:nth-child(3) {
            width: 20px;
        }
    }

    .city-list {
        width: 100%;

        @at-root .city {
            $this: #{&};
            &__controls {
                opacity: 1;
            }

            &.city--full {
                margin-bottom: 0;

                #{$this}__details  {
                    > div {
                        > span {
                            display: block;
                        }
                    }
                }


            }

            &.city--short {
                #{$this}__controls-parent {
                    width: initial;
                }


                #{$this}__controls {
                    justify-content: center;
                    width: initial;
                }

                #{$this}__temp {
                    width: initial;
                }

                #{$this}__up-down-buttons {
                    display: none;
                }

                #{$this}__remove-button {
                    padding: 0 0.2rem;
                }
            }
        }
    }

    .dynamic-select {
        $this: #{&};

        &__input {
            font-size: 1.75rem;
        }

        &__icon {
            padding: 0 0.5rem;
            > .fa {
                font-size: 1.75rem;
                min-width: 1.75rem;
            }
        }

        &__option {
            font-size: 1.75rem;
        }
    }

    .dragable-item {
        $this: #{&};
        width: 100%;

        padding: 5px 0;
        margin: 5px 0;


        &__holder {
            display: flex;
            opacity: 1;
            padding: 0 1rem;

            > .icon.fa.fa-sort {
                font-size: 2rem;
                color: #dddddd;
            }
        }

    }



}


