@font-face {
  font-family: 'MeteoconsRegular';
  src: url("/fonts/meteoicons/meteocons-webfont.eot");
  src: url("/fonts/meteoicons/meteocons-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/meteoicons/meteocons-webfont.woff") format("woff"), url("/fonts/meteoicons/meteocons-webfont.ttf") format("truetype"), url("/fonts/meteoicons/meteocons-webfont.svg#MeteoconsRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 12pt;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/* Root layout elements  */
.l-body {
  width: 100%;
  height: 100%; }

.l-root {
  height: 100%;
  width: 100%;
  display: table; }

.l-row {
  display: table-row; }

.l-cell {
  display: table-cell;
  vertical-align: middle; }

.l-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.l-cell.l-header {
  vertical-align: middle;
  height: 65px; }

.l-cell.l-footer {
  vertical-align: middle;
  height: 50px; }

/* Some global styles */
button {
  border: 1px solid #CCCCCC;
  background: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: black; }

button:disabled {
  color: #D0D0D0;
  border: 1px solid #E6E6E6;
  background: white; }

button:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.27);
  color: black;
  outline: none; }

i.icon {
  font-size: 1rem; }

.meteoicon {
  font-family: "MeteoconsRegular", serif;
  font-style: normal; }

.fa-spinner {
  -webkit-animation: spin 1000ms infinite linear;
          animation: spin 1000ms infinite linear; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

/** Components **/
.new-city {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* customize dynamic-select */ }
  .new-city__form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .new-city__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem; }
  .new-city__item--empty {
    padding: 0;
    width: 0px; }
  .new-city__loader {
    position: relative; }
    .new-city__loader > * {
      position: absolute;
      left: 0;
      margin-top: -8px; }
  .error {
    color: red;
    margin: 0.25rem;
    font-weight: bold; }
  .new-city .dynamic-select__input {
    min-width: 250px; }

.city-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .city {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .city__icon {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      vertical-align: middle;
      font-size: 2rem;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
      .city__icon img {
        width: 100%;
        vertical-align: bottom; }
    .city__name {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.9rem; }
    .city__temp {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 1.5rem;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
    .city__temp--cold {
      color: #0075CE; }
    .city__temp--warm {
      color: #D00000; }
    .city__controls {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      opacity: 0; }
    .city:hover .city__controls {
      opacity: 1; }
    .city__controls:hover {
      opacity: 1; }
    .city.city--full {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 0; }
      .city.city--full .city__icon, .city.city--full .city__temp {
        min-width: 50px;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-right: 1rem; }
      .city.city--full .city__details, .city.city--full .city__temp {
        padding-top: 0.5rem; }
      .city.city--full .city____name {
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .city.city--full .city__main-info {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; }
      .city.city--full .city__details-row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; }
      .city.city--full .city__aux-param {
        margin-right: 1.5rem;
        font-weight: bold;
        font-size: 0.8rem; }
      .city.city--full .city__last-update {
        font-size: 0.6rem;
        font-style: italic;
        margin-top: 0.25rem; }
      .city.city--full .city__controls {
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center; }
    .city.city--short {
      padding: 0.5rem 0; }
      .city.city--short .city__name {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 2rem;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        padding: 0 2rem; }
      .city.city--short .city__icon {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 3rem; }
      .city.city--short .city__temp {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        font-size: 2rem;
        padding: 0 0.25rem; }
      .city.city--short .city__controls {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 75px; }
      .city.city--short .city__remove-button {
        text-align: center; }
      .city.city--short .city__up-down-buttons {
        padding: 0;
        text-align: center;
        display: none; }
  .city-list__empty {
    color: #D0D0D0;
    font-style: italic;
    text-align: center; }

.initializing-msg {
  font-weight: bold;
  text-align: center; }

.dynamic-select {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
  .dynamic-select__pseudo-input {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .dynamic-select__input {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 0;
    border-radius: 5px;
    border-width: 0;
    outline: none;
    font-size: 1rem;
    margin: 0;
    -webkit-appearance: none; }
    .dynamic-select__input::-ms-clear {
      display: none; }
  .dynamic-select__icon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0.25rem; }
    .dynamic-select__icon > .fa {
      color: #D4D4D4;
      font-size: 1rem;
      min-width: 1rem; }
  .dynamic-select__option-list {
    display: none;
    position: absolute;
    left: 0;
    background: white;
    width: 100%;
    z-index: 1; }
  .dynamic-select__option {
    border: 1px solid #CCCCCC;
    border-top-style: none;
    padding: 0.5rem;
    font-size: 1rem; }
  .dynamic-select__option--highlighted {
    background: #ededed; }
  .dynamic-select__option:last-child {
    border-radius: 0 0 5px 5px; }
  .dynamic-select__option--nothing-found {
    color: #D0D0D0; }
  .dynamic-select--focused .dynamic-select__pseudo-input {
    border-radius: 5px 5px 0 0; }
  .dynamic-select--focused .dynamic-select__option-list {
    display: block; }
  .dynamic-select .fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
            animation: spin 1000ms infinite linear; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

.dragable-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: white;
  padding: 10px;
  border-width: 5px;
  border-style: dotted;
  border-color: transparent; }
  .dragable-item__holder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: move;
    opacity: 0;
    width: 75px; }
  .dragable-item__body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .dragable-item--dragging {
    cursor: move;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #FFA900; }
  .dragable-item:hover .dragable-item__holder, .dragable-item--dragging .dragable-item__holder {
    opacity: 1; }

.arrow-up, .arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
  border-color: #D4D4D4;
  border-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-left-style: solid;
  border-right-style: solid; }

.arrow-up {
  border-bottom-style: solid; }

.arrow-down {
  border-top-style: solid; }
