@media only screen and (max-width: 520px) {
  .l-cell {
    padding: 5px; }
  i.icon {
    font-size: 1.25rem; }
  .fa {
    font-size: 1.25rem; }
  .new-city__form {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .new-city__item {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                -ms-grid-row-align: stretch;
            align-items: stretch; }
  .new-city__item:nth-child(1) {
    display: none; }
  .new-city__item:nth-child(2) {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .new-city__item:nth-child(3) {
    width: 20px; }
  .city-list {
    width: 100%; }
    .city__controls {
      opacity: 1; }
    .city.city--full {
      margin-bottom: 0; }
      .city.city--full .city__details > div > span {
        display: block; }
    .city.city--short .city__controls-parent {
      width: initial; }
    .city.city--short .city__controls {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: initial; }
    .city.city--short .city__temp {
      width: initial; }
    .city.city--short .city__up-down-buttons {
      display: none; }
    .city.city--short .city__remove-button {
      padding: 0 0.2rem; }
  .dynamic-select__input {
    font-size: 1.75rem; }
  .dynamic-select__icon {
    padding: 0 0.5rem; }
    .dynamic-select__icon > .fa {
      font-size: 1.75rem;
      min-width: 1.75rem; }
  .dynamic-select__option {
    font-size: 1.75rem; }
  .dragable-item {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0; }
    .dragable-item__holder {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      opacity: 1;
      padding: 0 1rem; }
      .dragable-item__holder > .icon.fa.fa-sort {
        font-size: 2rem;
        color: #dddddd; } }
